div.ex3 {
  background-color: #8CDDFC;
  width: 100%;
  height: 110px;
  overflow: auto;
  overflow-x: scroll;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem;    /* Footer height */
}

#footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;            /* Footer height */
}

h3{
  color:#404040;
}

.customwidth{
  width:500px;
  margin: auto;

}

span.avoidwrap { display:inline-block; }


section {
  display: flex;
}
article {
  margin: 1px;
  flex:1
}

body{ background-color: #f0f0f0;}
